$primary-color: #324A5F;
$secondary-color: #f0ac00;
$icon-color: white;
$hover-icon-color: $secondary-color;
$active-background-color: rgba(31, 31, 31, 0.7);
$hover-background-color: $active-background-color;

